body{
  background: #151515;
  color: white;
  user-select: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.fire{
  background: #fba34c;
}

.grass{
  background: #5dbd5d;
}

.water{
  background: #529bdf;
}

.bug{
  background: #99bf2e;
}

.normal{
  background: #9b9ea0;
}

.poison{
  background: #b262cc;
}

.electric{
  background: #f4dc59;
}

.ground{
  background: #d48b5a;
}

.fairy{
  background: #f09be7;
}